parameters:
  level: max
  paths:
    - Classes
    - Configuration
    - Tests
  checkMissingIterableValueType: false
  reportUnmatchedIgnoredErrors: false
  checkGenericClassInNonGenericObjectType: false
